.SideBar_Container {
  background-color: #f7f7f7;
  width: 30%;
  /*min-width: 300px;*/
  flex: 1 0 auto;
  height: calc(100vh - 75px);
  overflow-y: scroll;
}
.SideBar_ToggleWordMsg {
  margin-left: 10px;
  color: #555;
  font-weight: 500;
  font-size: 14px;
}
.SideBar_ColorContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.SentenceContainer {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: row;
  user-select: none;
  cursor: pointer;
}

.Sentence_Selected {
  box-shadow: none;
  border: 2px solid #444444;
}

.RightArrow {
  height: 30px;
  align-self: center;
}

.NoResults {
  margin: 50% 0;
  color: #444444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.NoResults_Image{
  width: 100px;
}

@media only screen and (max-width: 600px) {
  .SideBar_Container {
    flex: 1;
  }
}
