.Button {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    min-width: 120px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-style: italic;
    color: #444;
    user-select: none;
}

.Button_Selected {
    background-color: #A3BCF9;
    border-color: #A3BCF9;
}

.Button_Matches {
    font-size: 10px;
    padding: 0;
    margin: 0;
    font-weight: 300;
}
.Button_Best{
    border-color: #E08087;
}
